.portfolio--section {
  display: flex;
  padding: 100px 60px;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
  font-family: 'Times New Roman', Times, serif;
}

.portfolio--container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21.3px;
}

.portfolio--section--container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 42.6px;
  width: 100%;
}

.portfolio--section--img {
  border-radius: 12px;
  width: 100%;
}

.portfolio--section--img>img {
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  width: 100%;
}

.portfolio--section--card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
  background: var(--bg-shade);
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border-radius: 12px;

}

.portfolio--section--card--content {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

.portfolio--section--title {
  color: var(--heading-color);
  font-size: 30px;
}

.text-md,
.stacks,
.text-sm {
  font-size: 20px;
}

.portfolio--link {
  font-weight: bold;
  display: flex;
  border-bottom: 1.33px solid var(--primary);
  padding-bottom: 10.6px;
  text-decoration: none;
}

.portfolio--link a {
  color: #111;
  text-decoration: none;
}

.portfolio--section--card:hover path {
  stroke: #006b6a;
}

.stacks {
  margin-top: 20px;
}