.footer--container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--bg-shade);
  align-items: center;
}

footer {
  margin-left: 55px;
}

.footer--items {
  list-style: none;
  display: flex;
  align-items: flex-start;
  text-decoration: none;
}