/* Global CSS */

body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: sans-serif;
  -moz-osx-font-smoothing: sans-serif;
  font-style: normal;
  background-color: #080808;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
:root {
  --primary: #0F5253;
  --heading-color: #378;
  --bg-shade: #f5fcff;
  --secondary: #55A199;
  --black: #080808;
  --white: #ffffff;
}
.btn {
  font-family: "Roboto";
  display: inline-block;
  padding: 14px 32px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
}
.btn-outline-primary {
  color: var(--primary);
  background-color: var(--white);
  border: 1px solid var(--primary);
}
.btn-outline-primary:hover {
  color: var(--white);
  background-color: var(--primary);
}
.btn-primary {
  color: var(--white);
  background-color: var(--primary);
  border: 1px solid var(--primary);
}
.btn-primary:hover {
  color: var(--primary);
  background-color: var(--white);
}

.btn-secondary {
  color: var(--primary);
  background-color: var(--white);
  border: 1px solid var(--white);
  margin-left: 15px;
}
.btn-secondary:hover {
  color: var(--white);
  background-color: var(--primary);
}
/* Global CSS Ends */
/* Main Headings */

/* Heading 1 */
h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
}
/* Heading 2 */
h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
}
/* Heading 3 */
h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  color: var(--white);
}

/* Pragraphs text large medium small */
/* Body 1 */
.text-lg {
  color: var(--secondary);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
/* Body 2 */
.text-md {
  color: var(--black);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
/* Body 3 */
.text-sm {
  color: var(--black);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

/* Section Titles */
/* About Me */
.section--title {
  color: var(--primary);
  font-size: 45px;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-weight: 700;
  line-height: 32px;
  display: flex;
  align-items: flex-start;
}
/* Portfolio */
.sub--title {
  color: var(--heading-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
/* Section Titles Ends */

/* Start Networking */
#github {
  color: #fff;
}

#linkedin {
  color: #0077b5;
}
/* End Networking */

/* Start Skills */
#html{
  color: #E44D26
}
 
#css{
  color: #1572B6
}
 
#js {
  color: #F0DB4F
}

#mysql {
  color: #00618A
}

#react {
  color: #61DAFB
}

#docker {
  color: #0db7ed
}

#laravel {
  color: #f05340
}

#php {
  color: #474a8a;
}
/* End Skills */

/* Navbar Style Start */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 85.333px;
  background-color: #000;
  box-shadow: 0px 5.333px 80px 0 rgba(85, 81, 81, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.navbar--items > ul {
  list-style: none;
  display: flex;
  align-items: right;
  gap: 42.667px;
  text-decoration: none;
}
.navbar--items ul > li > a {
  text-decoration: none;
}
/* Navbar Content */
.navbar--content {
  color: var(--primary);
  font-size: 16px;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}
.navbar--active-content {
  color: var(--secondary);
}

/* Navbar Styler Ends */

/* Hero Section Style */
.hero--section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 133.333px 85.333px 133.333px;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
.hero--section--content-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.hero--section--content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21.333px;
}
.hero--section--content--box > button {
  margin-top: 21.333px;
}

.hero--section-description {
  color: var(--white);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 36px;
}
.hero--section--img {
  display: flex;
}
.hero--section--img > img {
  width: 100%;
  height: 100%;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 10px 0 0 20px;
}

.social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-decoration: none;
  font-size: 2rem;
}
/* Hero Section Style Ends */

/* About Us */
.about--section {
  display: grid;
  padding: 133.3px 85.3px;
  align-items: center;
  gap: 114.6px;
  grid-template-columns: repeat(2, 1fr);
}
.about--section--skills {
  width: 100%;
  height: 100%;
}

.skills {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  align-items: center;
  color: var(--white);
}

.skill span {
  font-size: 600%;
}

.skill p {
  margin: 0;
}

.skill-title {
  color: var(--white);
  font-size: 1.5rem;
  margin: 0 0 1rem 0;
}
/* About Us Ends */

/* My Portfolio Starts */
.portfolio--section {
  display: flex;
  padding: 112px 85px;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
}

.portfolio--container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21.3px;
}

.portfolio--section--container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 42.6px;
  width: 100%;
}
.portfolio--section--img {
  border-radius: 8px;
  width: 100%;
}
.portfolio--section--img > img {
  width: 100%;
}
.portfolio--section--card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
  background: var(--bg-shade);
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.portfolio--section--card--content {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}
.portfolio--section--title {
  color: var(--heading-color);
}
.portfolio--link {
  text-decoration: none;
  display: flex;
  gap: 16px;
  border-bottom: 1.33px solid var(--primary);
  padding-bottom: 10.6px;
  font-weight: 600;
}
.portfolio--section--card:hover path {
  stroke: #006b6a;
}
/* Portfolio Ends */

/* Footer Start */
/* Footer Starts */
.footer--container {
  display: flex;
  justify-content: space-between;
  padding: 35px;
  align-items: flex-start;
  background-color: var(--bg-shade);
  align-items: center;
  align-self: stretch;
}

.footer--items {
  list-style: none;
  display: flex;
  align-items: flex-start;
  gap: 32.667px;
  text-decoration: none;
}

.footer--social--icon > ul {
  list-style: none;
  display: flex;
  justify-content: right;
  gap: 10px;
  flex-shrink: 0;
  text-decoration: none;
}

.footer-right {
  width: 60%;
  padding: 10px;
  text-align: right;
}

.footer-right h3 {
  font-size: 1rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 0.2rem;
  opacity: 0.8;
  color: var(--black);
}

h3 span {
  letter-spacing: 0;
  color: rgb(53, 31, 2);
  font-family: 'Indie Flower', sans-serif;
  position: relative;
  text-decoration: none;
}

h3 span::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 7px;
  width: 100%;
  border: solid 2px #d8061b;
  border-color: #e20017 transparent transparent transparent;
  border-radius: 30%;
}

/* End Footer */

/* Responsive Screens */
@media only screen and (max-width: 1800px) {
  .hero--section--title {
    font-size: 68px;
    line-height: 70px;
  }
}

@media only screen and (max-width: 1200px) {
  .btn-outline-primary {
    display: none;
  }
  .hero--section {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 70px;
  }
  .hero--section--title,
  .hero--section-description {
    text-align: center;
  }
  
  .about--section,
  .portfolio--section--container,
  .portfolio--container-box {
    display: flex;
    flex-direction: column;
  }
  
  .portfolio--container,
  .hero--section--content,
  .hero--section--content--box {
    align-items: center;
  }
  .portfolio--container-box {
    gap: 30px;
  }

  .portfolio--section--container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-between;
    gap: 32px;
  }
  
  .footer--container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .about--section {
    gap: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .hero--section--title,
  .sections--heading {
    font-size: 35px;
    line-height: 40px;
  }
  .hero--section--content--box {
    gap: 10px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .footer--social--icon > ul {
    padding: 0;
    align-items: center;
  }
  .divider {
    margin: 20px;
  }
  .social-icons {
    justify-content: center;
  }

  .social-icons a {
    font-size: 1.5rem;
  }

  .skills {
    font-weight: 300;
  }

}

/* Hamburger menu  */

.nav__hamburger {
  display: none;
  width: 1.875rem;
  height: 1.313rem;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 25px;
  right: 25px;
}

.nav__hamburger__line {
  display: block;
  height: 0.188rem;
  width: 100%;
  background-color: var(--white);
  border-radius: 0.625rem;
  transition: all ease-in-out 0.2s;
}

@media screen and (max-width: 750px) {
  .navbar {
    padding: 35px 85.333px;
    background-color: #000;
    box-shadow: 0px 5.333px 80px 0 rgba(85, 81, 81, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .nav__hamburger {
    display: flex;
    z-index: 200;
  }
  .navbar--items {
    display: flex;
  }
  .navbar--items {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    top: -20rem;
    left: 0;
    width: 100%;
    transition: all ease-in-out 0.4s;
  }
  .navbar--items ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3rem 0 0.6rem;
    z-index: -100;
  }
  .navbar--items ul li {
    text-align: center;
  }
  .navbar--items ul li a {
    padding: 0.5rem;
  }
  .navbar--items {
    z-index: -1000;
  }
  .navbar--items.active {
    top: 30px;
  }
  .nav__hamburger.active :nth-child(1) {
    transform: rotate(45deg) translate(0.45rem, 0.1875rem);
  }

  .nav__hamburger.active :nth-child(2) {
    opacity: 0;
  }

  .nav__hamburger.active :nth-child(3) {
    transform: rotate(-45deg) translate(0.45rem, -0.1875rem);
  }

  .portfolio--section--container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: space-between;
    gap: 32px;
  }

  .footer--container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

}

/* Responsive Screens Ends*/
